body{
   background-color: aliceblue;
}

.one {
  color: #8E55F1;
  /* text-align: center; */
  padding: 40px;
  margin: 50px;
  background: rgba(206, 196, 216, 0.3);
  border-radius: 8px;
}

/* h1 {
  color: #8400C1;
} */

#logo {
  width:15%;
  float: left;
}

p {
  color: #58695E;
}

.title {
  color: #d68fd6;
  text-align: center;
  font-size: 400%;
  /* margin: 20%; */
  padding: 10%;
  /* border-radius: 8px; */
  font-family: 'Julius Sans One', sans-serif;
  /* background: #EAFEFF; */
  /* background: rgba(206, 196, 216, 0.3); */
  border-radius: 8px;
  padding-left:20%;
  padding-right:20%;
  background-image:url(about.jpg);
  background-size: cover;
}

.dropbtn {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-overflow: clip;
    background-color: cornflowerblue;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    /* float: right; */
}

.dropbtn:hover {
	background-color: #2063A6;
}

.factsheader {
  color: #8485E4;
  text-align: center;
  /* font-size: 50%; */
  /* margin: 20%; */
  /* border-radius: 8px; */
  font-family: 'Julius Sans One', sans-serif;
  /* float: left; */
}

ul {
  /* text-align: center; */
  padding: 40px;
  font-size:130%;
  margin: 50px;
  background: rgba(206, 196, 216, 0.3);
  border-radius: 20px;
  font-family: 'Enriqueta', serif;
}

li {
  margin: 20px;
}

h2 {
  /* color: #8485E4; */
  color: #1DA99C;
  text-align: center;
  text-emphasis-style: open;
}
