body{
   background-color: aliceblue;
}

.one {
  color: #8E55F1;
  /* text-align: center; */
  padding: 40px;
  margin: 50px;
  background: rgba(206, 196, 216, 0.3);
  border-radius: 8px;
}

/* h1 {
  color: #8400C1;
} */

#logo {
  width:15%;
  float: left;
}

p {
  color: #58695E;
  font-family: 'Enriqueta', serif;
}

.title {
  color: #d68fd6;
  text-align: center;
  font-size: 400%;
  /* margin: 20%; */
  padding: 10%;
  /* border-radius: 8px; */
  font-family: 'Julius Sans One', sans-serif;
  /* background: #EAFEFF; */
  /* background: rgba(206, 196, 216, 0.3); */
  border-radius: 8px;
  padding-left:20%;
  padding-right:20%;
  background-image:url(contact.jpg);
  background-size: cover;
}

#dropbtn {
    /* position: absolute; */
    /* margin-top: 50px; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-overflow: clip;
    background-color: cornflowerblue;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    float: right;
}

#dropbtn:hover {
	background-color: #2063A6;
}

.two {
  color: #5347FF;
  /* text-align:center; */
  padding: 40px;
  margin: 50px;
  background: rgba(151, 185, 216, 0.3);
  border-radius: 8px;
}

form {
  color: #CEC4D8;
  text-align: center;
  padding: 100px;
  margin: 50px;
  background: rgba(151, 185, 216, 0.3);
  border-radius: 8px;
}

.header {
	text-align:center;
}

h2 {
  color: #6D7D72;
}
