body {
   background-color: aliceblue;
   background-size: cover;
}

.one {
  color: #97B9D8;
  text-align: center;
  padding: 100px;
  margin: 50px;
  background: rgba(206, 196, 216, 0.3);
  border-radius: 8px;
}

.two {
  color: #CEC4D8;
  text-align: center;
  padding: 100px;
  margin: 50px;
  background: rgba(151, 185, 216, 0.3);
  border-radius: 8px;
}

form {
  color: #CEC4D8;
  text-align: center;
  padding: 100px;
  margin: 50px;
  background: rgba(151, 185, 216, 0.3);
  border-radius: 8px;
}
